body {
  margin: auto;
  background-image: url("./Components/background/bgblugrain-background.gif") ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


    

/* Style to nav bar */
.navigation-bar {

  text-align: center;
}

.navigation-bar li {
  display: inline-block;
}

.navigation-bar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(25, 158, 170);
}

.navigation-bar ul li {
  text-align: center;
  padding: 0px;
}

.navigation-bar ul li a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 15px;
}

#covid-title {
  color: aliceblue;
  font-size: 23px;
  margin-left: -15%;
  padding-right: 50px;
}

li a:hover {
  color: black;
  background-color: rgb(79, 174, 180);
  border-radius: 10px;
}
li a:active {
  color: black;
}
.navigation-bar li a:active {
  background-color: white;
  color: black;

}


/* End of nav bar */


/* Home page */

h1 {
  text-align:  center;
}
img {
  position: relative;
  margin-left: 32%;
  border-radius: 20px;
}

/* Style for the Form */

h3 {
  text-align: center;
}
form {
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(255, 255, 255);
  border: 1px  solid black;
  border-radius: 10px;
}

form label {
  color:black;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}


/* End of Form style */



/* Show all data page */
table, td, th {  
  border: 1px outset black;
  /* border-right:none ; */
  text-align: left;
  color: black;

}
tr:hover {
  background-color: rgb(255, 252, 252);
}


#edit-btn  {
  color: white;
  background-color: rgb(34, 169, 50);
  padding: 6px 15px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;

}
#delete-btn {
  color: white;
  background-color: rgb(211, 53, 53);
  padding: 6px 15px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border-right: none;
}

#delete-btn:hover {
  background-color: rgba(211, 53, 53, 0.457);
  color: black;
}
#delete-btn:active {
  background-color: white;
  color: black;
}

#edit-btn:hover{
  background-color: rgba(34, 169, 50, 0.429);
  color: black;
}

#edit-btn:active {
  background-color: white;
  color: black;
}
#title-size{
  font-size: 18px;
  background-color: rgb(70, 176, 185);
  color: black;

}
table {
  border-collapse: collapse;
  margin-left: 20%;
}

th, td {
  padding: 2px 15px;
  font-size: large;
  font-weight: 700;

}




