body {
  margin: auto;
  background-image: url("./Components/background/bgblugrain-background.gif") ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Style to nav bar */

.navigation-bar li {
  display: inline-block;
}

.navigation-bar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(25, 158, 170);

}
.navigation-bar ul li a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 8px 10px ;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Comic Sans MS';
  font-weight: 500;


}
.covid-title {
  color: aliceblue;
  font-size: 25px;
  margin-right: 2%;
  font-family:'consolas';
  font-weight: 600;
}

li a:hover {
  color: black;
  background-color: rgb(106, 183, 190);
  border-radius: 8px;

}
li a:active {
  color: black;
}
.navigation-bar li a:active {
  background-color: white;
  color: black;

}


/* End of nav bar */

/* Home page */

h1 {
  text-align:  center;
  font-family: 'Comic Sans MS';
}
img {
  margin-left: 30%;
  position: absolute;
  margin-top: 1%;
  width: 40%;
  text-align: center;
  border-radius: 20px;
}

/* Style for the Form */

h3 {
  text-align: center;
  font-family: 'Comic Sans MS';

}
form {
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(255, 255, 255);
  border: 1px  outset rgba(128, 128, 128, 0.314);
  border-radius: 10px;
}

form label {
  color:black;
  margin-left: 10px;
  font-size: 20px;
  font-family: 'Comic Sans MS';
  font-weight: 800;
}

option {
    font-family: 'Comic Sans MS';

}

/* End of Form style */

/* Show all data page */

tr:hover {
  background-color: rgb(255, 252, 252);
}

.edit-link-button {
  display: block;
  height: 35px;
  background: #299135;
  padding: 7px;
  margin-left: -5px;
  margin-right: 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-family: 'Comic Sans MS';
  line-height: 25px;
}

.edit-link-button:hover{

  color: black;
  text-decoration: none;
  background-color: #46ab3dee;
}

.edit-link-button:active{
  background-color: aliceblue;
}

.delete-link-button {
  display: block;
  height: 35px;
  background: #e01f1f;
  padding: 7px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: 'Comic Sans MS';
  font-weight: 500;
  line-height: 25px;
}

.delete-link-button:hover{

  color: black;
  text-decoration: none;
  background-color: #e01f1fc3;

}

.delete-link-button:active{
  background-color: aliceblue;
}

/* Computer Information */

pre {
  font-weight: bolder;
  text-align: center;
   background-color: rgb(255, 255, 255);
  border: 3px  outset rgba(128, 128, 128, 0.314);
  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;


}




